<div *ngIf="isLoading" class="loading">
  <div class="spinner"></div>
  Loading...
</div>

<!-- Mesaj de eroare -->
<div *ngIf="error" class="error">{{ error }}</div>

<!-- Tabelul cu astronauți -->
<table *ngIf="!isLoading && !error">
  <thead>
    <tr>
      <th [style.width.px]="maxCraftLength * 20">Navetă</th>
      <!-- Header pentru navetă -->
      <th>Astronauți</th>
      <!-- Header pentru astronauți -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let craft of objectKeys(astronauts)">
      <td>
        <!-- <div class="craft-container"> -->
        {{ craft }}
        <!-- Iconița cu săgeată pentru ordinea de sortare -->
        <button (click)="toggleSort(craft)" class="sort-btn">
          <span *ngIf="sortOrder[craft]">↓</span>
          <span *ngIf="!sortOrder[craft]">↑</span>
        </button>
      </td>

      <td>
        <!-- Stilizare detaliată pentru fiecare astronaut -->
        <div *ngFor="let name of astronauts[craft]" class="astronaut-line">
          <span class="astronaut-name">{{ name }}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
